@model IEnumerable<TravelClient.Models.Destination>

<h2>All Destinations</h2>
@Html.ActionLink("Add new Destination", "Create")
<hr />

<ol>
    @foreach (var destination in Model)
    {
        Console.WriteLine(destination);
        <li>
            <ul>
                <li><strong>@Html.ActionLink($"{destination.Name}", "Details", new { id = destination.DestinationId})</li>
                <li>City: @Html.DisplayFor(modelItem => destination.City)</li>
                <li>Country: @Html.DisplayFor(modelItem => destination.Country)</li>
                <li>Overall Rating: @Html.DisplayFor(modelItem => destination.AvgRating)</li>
                <br>
            </ul>
        </li>
    }
</ol>
